[submodule "external/fixpoint"]
	path = external/fixpoint
	url = meatwad.ucsd.edu:/git/fixpoint.git
[submodule "external/misc"]
	path = external/misc
	url = meatwad.ucsd.edu:/git/misc.git
[submodule "external/ocamlgraph"]
	path = external/ocamlgraph
	url = meatwad.ucsd.edu:/git/external/ocamlgraph.git
[submodule "external/cil"]
	path = external/cil
	url = meatwad.ucsd.edu:/git/external/cil.git
[submodule "external/z3"]
	path = external/z3
	url = meatwad.ucsd.edu:/git/external/z3.git
