*.o
*.csolve.save.c
*.a
*.cmxa
*.cm[oxai]
*.annot
*.vmap
*.di?
*.native
*.ssa.c
*.autospec
*.infspec
*.c.tags
*.pyc
build.sh
config.make
*.fq
*.scalarlog
*.squals
*.tags
*.log
_build
src/fixpoint
src/misc
tests/logs/*
*~
*.swp
TAGS
tests/all/adpcm/src/timing.exe
tests/all/cacm/decode
tests/all/cacm/encode
a.out
*.html
*.json
js/
css/
