####### Fill in these fields
OCAMLLIBHOME=/usr/local/lib/ocaml
ROOTHOME=/home/jhala/research/liquidc
#######
EXTHOME=$(ROOTHOME)/external
OCAMLGRAPHHOME=$(ROOTHOME)/external/ocamlgraph
Z3HOME=$(ROOTHOME)/external/z3
CILHOME=$(EXTHOME)/cil/obj/x86_LINUX
